# hoist-pattern:
#
# https://pnpm.io/zh/next/npmrc#%E4%BE%9D%E8%B5%96%E6%8F%90%E5%8D%87%E8%AE%BE%E7%BD%AE
# 告诉 pnpm 哪些包应该被提升到 node_modules/.pnpm。 在默认情况下，所有的包都是被提升的，但是如果你知道只有一些有缺陷的包有幻影依赖关系， 您可以使# 用此选项来只提升有幻影依赖关系的包(推荐)。
# 默认情况: ['*'], 也就是所有包都会提升
# 有时候由于不同空间下的依赖被默认提升到 root 的 node_modules/.pnpm 了, 这样就导致它们之间会冲突
# 比如当 vue-template-complier 遇到它不适配的 vue版本时, 比如 vue3.x --> 它就会抛出 Error: Vue packages version mismatch
# default
hoist-pattern[]=*eslint*
hoist-pattern[]=*babel*
# manual
hoist-pattern[]=@emotion/*
hoist-pattern[]=postcss
hoist-pattern[]=pug
hoist-pattern[]=source-map-support
hoist-pattern[]=ts-node


# pnpm --> Unmet peer dependencies
strict-peer-dependencies=false

# registry --> taobao
home=https://npmmirror.com
registry=https://registry.npmmirror.com/
